__pycache__/
*.py[cod]
*$py.class
.vscode/
.micropico
.DS_Store
.env
gaming_health_data/recorded_data/APPLE_WATCH
gaming_health_data/recorded_data/VIDEO/VIDEOS
debug_output/
multimodal_analysis_results/
